@{
    ViewData["Title"] = "Главная страница";
}

<h1>Главная страница</h1>

<p>Вы вошли как: <strong>@ViewBag.UserName</strong></p>

<h3>Меню:</h3>
<ul>
    <li><a asp-controller="Clients" asp-action="Index">Управление Клиентами</a></li>
    <li><a asp-controller="Machines" asp-action="Index">Управление Станками</a></li>
    <li><a asp-controller="MachineServices" asp-action="Index">Управление Услугами</a></li>
    <li><a asp-controller="Orders" asp-action="Index">Управление Клиентами</a></li>
    <li><a asp-controller="Clients" asp-action="Index">Управление Заказами</a></li>
    <li><a asp-controller="OrderStates" asp-action="Index">Управление Состояниями заказа</a></li>
    <li><a asp-controller="RelevantCosts" asp-action="Index">Управление Актуальными ценами</a></li>
    <li><a asp-controller="RelevantOrderStates" asp-action="Index">Управление Актуальными состояниями заказа</a></li>
    <li><a asp-controller="Requests" asp-action="Index">Управление Заявками</a></li>
    <li><a asp-controller="RelevantRequestStates" asp-action="Index">Управление Актуальными состояниями заявок</a></li>
    <li><a asp-controller="RequestStates" asp-action="Index">Управление Состояниями заявок</a></li>
    <li><a asp-controller="Roles" asp-action="Index">Управление Ролями</a></li>
    <li><a asp-controller="ServiceProvisions" asp-action="Index">Управление Предоставляемыми услугами</a></li>
    <li><a asp-controller="Staffs" asp-action="Index">Управление Сотрудниками</a></li>
    <li><a asp-controller="Account" asp-action="Logout">Выход</a></li>
</ul>